<!-- Style sheets -->
<link rel="stylesheet" type="text/css" href="{{context}}/stylesheets/sign-in-modules.css">

<fieldset>
  <!-- Upper box with Title, username, and password -->
  <div class="upper-box">
    <label class="labels" for="name">
      Username:</label> {{user.username}}
    <p> </p>

    <label class="labels" for="name">Name:</label>
     {{user.name}}

  </div>

</fieldset>

<p><a href="{{context}}/logout">Logout</a></p>