<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<p>
  <a href="{{context}}/dialog/authorize?redirect_uri=https://oauth2orizerecipes.herokuapp.com&response_type=code&client_id=abc123&scope=offline_access">Grant Type: Authorization Code</a>
</p>

<p>
  <a href="{{context}}/account">Account</a>
</p>